#*
 *  Copyright 2009-2015 Universite Paris Ouest and Sorbonne Universites,
 * 							Univ. Paris 06 - CNRS UMR 7606 (LIP6)
 *
 *  All rights reserved.   This program and the accompanying materials
 *  are made available under the terms of the Eclipse Public License v1.0
 *  which accompanies this distribution, and is available at
 *  http://www.eclipse.org/legal/epl-v10.html
 *
 *  Project leader / Initial Contributor:
 *    Lom Messan Hillah - <lom-messan.hillah@lip6.fr>
 *
 *  Contributors:
 *    ${ocontributors} - <$oemails}>
 *
 *  Mailing list:
 *    lom-messan.hillah@lip6.fr
 *#
 ------
Download
 ------
 ------
2015-03
 ------

Download Cami to PNML Converter ${project.version}

  Cami to PNML is distributed as a standalone jar, ready to be used on command line,
or as a library in your application for whatever purpose. It runs on Java 1.7+. All its dependencies are included in the jar.
  
  Download {{{./download/fr.lip6.pnml.cami2pnml-${project.version}.jar}Cami to PNML Converter ${project.version}}}.

* Usage

  Usage information is provided {{{./usage.html}here}}.

===

Models

 We provide three P/T nets models in Cami and PNML, so that you may start using this application right away:
 
 * {{{./models/Philo.cami}Dining philosophers}} (Cami)
 
 * {{{./models/Piscine.pnml}Swimming pool}} (PNML)
 
 * {{{./models/TokenRing-5.pnml}Token ring}} (PNML)
 
 []

 There are actually many more P/T nets models available on the {{{http://mcc.lip6.fr/models.php}Model Checking Contest web site}}.

===

Requirements

 * Runs on Java 1.8+

 * All other dependencies are included in the Cami to PNML standalone jar, including the libraries of {{{http://pnml.lip6.fr}PNML Framework.}}

===

Previous stable versions

  * Download {{{./download/cami2pnml-2.1.8-withDependencies.jar}version 2.1.8}}. (Runs on Java 1.7+)
  
=== 

Feedback

 Please report any feedback using the {{{./mail-lists.html}mailing-list}}.
